:root {
    --corPrimaria: #333;
    --dragonColor: red;
    --corSombra: yellow;
}

body,select {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    color: var(--corPrimaria);
    padding: 1rem;
}

label {
    font-weight: bold;
}

.dragon-color {
    color: var(--dragonColor);
    font-size: 4rem;
    text-shadow: 0px 0px 20px var(--corSombra);
}

::-moz-selection { /* Code for Firefox */
    color: red;
    background: pink;
  }
  
  ::selection {
    color: red;
    background: pink;
  }